.filter-block {
    margin: 0 .1em;
    display: table;
}

.category-item {
    float: left;
    padding: .5em 1em;
    background: #e0e0e0;
    margin: 0 .2em .2em 0;
    color: #717171;
    border-radius: 2em;
    font-size: .9em;
    cursor: pointer;

    -webkit-transition: background .35s ease-in-out;
    transition: background .35s ease-in-out;
}

.category-item:hover {
    background:#717171;
    color: #e0e0e0;
}

.category-item:active {
    background: #000;
    color: #e0e0e0;
}
